@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Show ability to use the <a target="_blank" href="https://swapi.co/api">Star Wars API</a> in an <span class="strong">ASP.NET MVC</span> (.NET Core) application.</p>
<p>Concurrent data retrieval and caching is just added for fun. In real development these would only be added after explicit approval of the product manager. </p>
<p>The solution is in need of a test project (which is out of scope for the coding exercise). </p>