@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Questions:</strong> <a href="mailto:mschluper@mail.com">mschluper@mail.com</a><br />
</address>
